
.price-list li{
    margin-top: 10px;
    list-style: none;
}
.price-list .price{
    border: 2px solid black;
    height: 6rem;
    width: 8rem;
}
.price-list .img{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu45PR7DPOVWgjYxUpyAIbL535iykyWhqzsTA5oN3PsrgpNOEU");
    background-size: cover;
    
}